@import url("my-reset.css");
@import url("my-fonts.css");


.main-block {
   /*border: 1px solid red;*/
   background: #292929;
   overflow: hidden;
}

/*============ block header  ==========*/
   .block-logo {
      /*border: 1px solid red;*/
      max-width: 980px;
      /*height: 130px;*/
      margin: 0 auto -32px auto;

   }
/*      .block-logo .logo-img {
         background: url('../images/logo.jpg') no-repeat 0% 50%;
         height: 50px;
         margin-top: 30px;
      }*/
      .block-logo .logo-img>a {
         display: inline-block;
         /*border: 1px solid red;*/
         background: url('../images/logo.jpg') no-repeat 0% 50%;
         height: 130px;
         width: 90px;
      }

   .menu {
      /*border: 1px solid red;*/
      float: right;
      margin-right: 30px;
      margin-top:-133px;
   }
      .menu li {
         float: left;
      }
         .menu li a {
            /*border: 1px solid red;*/
               display: inline-block;
               /*height: 130px;*/
               text-align: center;
               text-decoration: none;
               font-size:16px;
               font-weight: bold;
               line-height:130px;
               color: #fff;
               padding: 0px 18px 0 18px;
               border-bottom: 4px solid #292929;
            }
         .menu li a:hover {
            color: #58c93a;
            border-bottom: 4px solid #58c93a;
         }

/*=================== block MAIN content ==================*/
/*Делаем разделитель между header и content*/
.delimiter {
   background: #fffcdb;
   height: 70px;
   /*border-left: 1px solid #e1e0e0;*/
}
.delimiter .bord {
   max-width: 980px;
   height: 80px;
   margin: 0 auto;
   border: 1px solid #e1e0e0;
}


/*================================*/
.main-block2 {
   /*margin-top: 80px;*/
   background: #fffcdb; /*почему не работает?*/ /*происходит сфлоучение*/
}

/*.main-block2 */.main-content { /*чтобы этот класс работал везде на странице*/
   max-width: 980px;
   margin: 0 auto ;
   border: 1px solid #e1e0e0;
   border-top: none;
}

/*================= BLOCK CONTENT ============*/
   /*.main-block2*/ .content {
      /*background: #fffcdb;*/
      float: left;
      width: 63.3%;  /*определяем ширину в % - 980 - 100% 620 -х */
   }
      .content article {
         margin-bottom: 80px;

      }
         article>header {
            position: relative;
            font-size: 0;
            background: none;
            margin-bottom: 10px;
         }

   /*Для анимации - появления на картинки блока*/
         article>header:hover .publish {
            bottom: 0;
            display: block;

           /*  -webkit-transition: display 0.8s linear;
            -o-transition: display 0.8s linear;
            transition: display 0.8s linear;
*/
         }
         .publish {
            display: none;
            font-size: 13px;
            color: #fff;
            background: rgba(0,0,0, 0.5);

            position: absolute;
            bottom:-60px;
            padding: 10px 20px;

            width: 100%;
            box-sizing: border-box; /*чтобы не выступало -убирает padding , margin
*/
         /*анимация отменяет св-во bottom: */
            -webkit-transition:bottom 0.1s linear;
            -moz-transition:bottom 0.1s linear;
            -o-transition:bottom 0.1s linear;
            transition:bottom 0.1s linear;
         }


         article>h2 {
            font-size: 1.75em;   /*1em = 16px => 28px = 1.75em*/
            text-transform: uppercase;
            font-weight: 600;
            color:#4f4e4e;
            margin: 0 0 40px 20px;
         }
         article>p {
            margin: 0 0 20px 20px;
         }
         article .butt {
            display: inline-block;
            border: 2px solid #c2c2c2;
            color: #c2c2c2;
            padding: 7px 20px;
            text-decoration: none;
            border-radius: 50px;
            /*Анимация*/
            -webkit-transition:all 0.5s linear;
            -moz-transition:all 0.5s linear;
            -o-transition:all 0.5s linear;
            transition:all 0.5s linear;

/*all -указывать какие сво-ва затрагивать -все св-ва
0.1s    - время перехода (предпочтительно 0.1s)
linear  - функция перехода*/
         }
         article .butt:hover {
            color: #339933;
            text-decoration: underline;
            /*border: 2px solid #339933;*/
            border-color: #339933;
            /*Анимация*/
            -webkit-transition:all 0.5s linear;
            -moz-transition:all 0.5s linear;
            -o-transition:all 0.5s linear;
            transition:all 0.5s linear;

         }

/*================ Block content sidebar ============*/
   /*.main-block2 */
   .sidebar {
       float: right;
      width: 28.6%;
   }

.vidget  {
   margin-bottom: 50px;
}
   .vidget h2 {
      text-transform: uppercase;
      color: #6c6969;
      background: #f8f8f8;
      border-left: 3px solid #58c93e;
      padding: 10px 20px;
      font-weight: 600;
      margin-bottom: 20px;
   }
   .vidget .search {
      color: #b9b9b9;
      font-size: 0.75em;
      width: 100%;
      border: 1px solid #e1e0e0;
      border-right: 0;
      padding: 18px 20px;
   }
   .vidget>nav {
      margin: 0 0 0 20px;
   }
   /*Позиционирование*/
   .subscribe {
      position: relative;
      width: 100%;
      height: 48px;
   }
      .vidget .sbcr-mail {
         color: #b9b9b9;
         font-size: 0.75em;
         width: 100%;
         box-sizing: border-box;   /* это свойство учитывает margin, padding, border- в ширене бокса */
         border: 1px solid #e1e0e0;
         border-right: 0;
         padding: 15px 50px 15px 20px;

         position: absolute;
         top: 0;
         left: 0;
      }
      .vidget .sbcr-btn {
         position: absolute;
         top: 12px;
         right: 20px;
      }

/*======== Постраничная навигация ========*/
/*Здесь добавляется класс clearfix*/
.pager {
   border: 1px solid #e1e0e0;
   font-size: 1.25em;
   text-transform: uppercase;
   font-weight: 600;
   padding: 30px;
}
   .pager a {
      color: #818181;
      text-decoration: none;
   }
   .pager a:hover {
      text-decoration: underline;
   }
   .previous-link {
      float: left;
   }
   .next-link {
      float: right;
   }

/*=============  FOOTER ==================*/

footer {
   background: #f8f8f8;
   height: 316px;
   margin-bottom: 30px;
   text-align: center;
   font-size: 0.813em;
   /*padding: 80px;*/
}
   footer .main-content {
      border: none;
   }
   footer img {
      margin : 80px 0 30px 0;
   }


/*Адаптивная верстка*/

@media screen and (max-width: 768px) {
   .block-logo .logo-img>a {
         height: 30px;
         margin-top:30px;
         margin-bottom: -20px;
   }
      .menu li a {
               padding: 40px 15px 0px 15px;
      }

   .delimiter {
      height: 20px;
   }

   .content {
      float: none;
      width: 100%;
   }
      article>header img {
         width: 100%;
         }
   .sidebar {
      float: none;
      width: 100%;
   }
   footer {
      height: 200px;
   }

}

@media screen and (max-width: 620px) {
   .block-logo .logo-img>a {
         background: url('../images/logo.jpg') no-repeat 50% 50%;
      }
      .menu {
         float: none;
         width: 100%;
      }
      .menu li a {
               padding: 40px 10px 0px 10px;
      }

}

/*Мобильные уст-ва устроены так,  (усли сайт не адоптирован подж мобилу) сами настраивают страницу целиком*/
/*Для этого нужно прописать мета данные*/

/*<meta name="viewport" content="width=device-width, initial-scale=1.0">*/


